{
  "admin": {
    "listen": "unix//run/caddy/admin.sock"
  },
  "logging": {
    "logs": {
      "default": {
        "writer": { "output": "stdout" },
        "encoder": {
          "format": "filter",
          "wrap": { "format": "json" },
          "fields": {
            "request>uri": {
              "filter": "regexp",
              "regexp": "^/hello-its-me/.*",
              "value": "/hello-its-me/[redacted]"
            }
          }
        },
        "level": "INFO"
      }
    }
  },
  "apps": {
    "http": {
      "servers": {
        "srv0": {
          "listen": [":443"],
          "routes": [
            {
              "match": [{ "path": ["/hello-its-me/*"] }],
              "handle": [{
                "handler": "reverse_proxy",
                "upstreams": [{ "dial": "127.0.0.1:8081" }]
              }]
            },
            {
              "match": [{
                "remote_ip": { "ranges": [] }
              }],
              "handle": [{
                "handler": "subroute",
                "routes": []
              }]
            },
            {
              "handle": [{
                "handler": "static_response",
                "status_code": 403,
                "body": "Not found"
              }]
            }
          ],
          "tls_connection_policies": [{}]
        }
      }
    },
    "tls": {
      "automation": {
        "on_demand": {
          "permission": {
            "module": "http",
            "endpoint": "http://localhost:8081/tls-check"
          }
        },
        "policies": [{
          "on_demand": true,
          "issuers": [{
            "module": "acme",
            "challenges": {
              "dns": {
                "provider": {
                  "name": "${CADDYGATE_DNS_PROVIDER}",
                  "api_token": "${CADDYGATE_DNS_API_TOKEN}"
                }
              }
            }
          }]
        }]
      }
    }
  }
}
